<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @shop.name %>
</p>

<%= link_to 'Edit', edit_shop_path(@shop) %> |
<%= link_to 'Back', shops_path %>

<p>
  <strong>Products:</strong>
</p>
<%= link_to 'Add Products',shop_products_path(@shop) %>
<p>
  <strong>Denominations:</strong>
</p>
<%= link_to 'Update Denominations',shop_denominations_path(@shop) %>
<p>
  <strong>Bills:</strong>
</p>
<%= link_to 'New Bill',shop_bills_path(@shop) %>