<div class="container">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @shop.name %>
  </p>


   <br>
  <p>
    <strong>Products:</strong>
    <%= link_to 'Add Products',shop_products_path(@shop) %>
  </p>

  <br>

  <br><p>
    <strong>Denominations:</strong>
  <%= link_to 'Update Denominations',shop_denominations_path(@shop) %>
  </p>

  <p>
    <br>
    <strong>Bills:</strong>
    <%= link_to 'New Bill',shop_bills_path(@shop) %>
  </p>


  </br>

  <div>
    <%= link_to 'Edit', edit_shop_path(@shop) %> |
    <%= link_to 'Back', shops_path %>
  </div>
</div>