<div class="row">
  <div class="col">
    <div class="field">
      <%= fo.label :"500" %>
      <%= fo.number_field :five_hundred %>
    </div>
    <div class="field">
      <%= fo.label :"100" %>
      <%= fo.number_field :hundred %>
    </div>
    <div class="field">
      <%= fo.label :"50" %>
      <%= fo.number_field :fifty %>
    </div>
    <div class="field">
      <%= fo.label :"10" %>
      <%= fo.number_field :ten %>
    </div>


  </div><br>
  <div class="col">

    <div class="field">
      <%= fo.label :"5" %>
      <%= fo.number_field :five %>

    </div>
    <div class="field">
      <%= fo.label :"2" %>
      <%= fo.number_field :two %>
    </div>
    <div class="field">
      <%= fo.label :"1" %>
      <%= fo.number_field :one %>
    </div>


  </div><br>







</div>