<div> <div class="field">
  <%= fo.label :"500" %>
  <p>Quantity:</p><%= fo.number_field :five_hundred %>
</div>
  <div class="field">
    <%= fo.label :"100" %>
    <p>Quantity:</p><%= fo.number_field :hundred %>
  </div>
  <div class="field">
    <%= fo.label :"50" %>
    <p>Quantity:</p><%= fo.number_field :fifty %>
  </div>

  <div class="field">
    <%= fo.label :"10" %>
    <p>Quantity:</p><%= fo.number_field :ten %>
  </div>
  <div class="field">
    <%= fo.label :"5" %>
    <p>Quantity:</p><%= fo.number_field :five %>

  </div>
  <div class="field">
    <%= fo.label :"2" %>
    <p>Quantity:</p><%= fo.number_field :two %>
  </div>
  <div class="field">
    <%= fo.label :"1" %>
    <p>Quantity:</p><%= fo.number_field :one %>
  </div>


</div>