<div class="nested-fields">
  <div class="form-row">
    <div class="col">
      <%= f.hidden_field :_destroy %>
      <div>
        <%= f.label :product_id %>
        <%= f.select :product_id,@shop.products.collect{|p| [p.id]},include_blank: true %>
      </div>

    </div>
    <div class="col">
      <div>

        <%= f.label :quantity %>
        <%= f.text_field :quantity %><br>

      </div>

    </div>
    <div class="col">
      <div>

        <%= link_to  "Delete","#",class:"remove_fields" %>
      </div>


    </div>
  </div>
</div><br>
<style>
  .remove_fields{
      background-color:red;
      color:white;
      padding:8px;
      border-radius:5px;
  }
</style>
