<%= form_with(model: [@shop,bill]) do |form| %>
  <% if bill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bill.errors.count, "error") %> prohibited this bill from being saved:</h2>

      <ul>
        <% bill.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-row ft" >
    <div class="col-4">
      <div class="field">
        <%= form.label :email_id %>
        <%= form.text_field :email_id,class:"form-control",placeholder:"Enter The Email" %>
      </div>
    </div>
    <div class="n col-4">

      <div class="field">
        <%= form.label :name %>
        <%= form.text_field :name,class:"form-control",placeholder:"Enter The Name" %>
      </div>
    </div>

  </div><br>
  <strong>Products</strong><br>
  <br>
  <fieldset>
    <%= form.fields_for :carts do |c| %>
       <%= render "carts_fields",f: c %>
    <%end %>
    <%= link_to_add_to_carts "Add Products",form, :carts %>
  </fieldset><br>

  <div class="field">

    <%= form.hidden_field :shop_id %>
  </div>


  <div>
    <strong>Denominations </strong><br>

    <fieldset><br>
      <%= form.fields_for :amounts do |a| %>
        <%= render "amounts_fields",fo: a %>
      <%end %>

    </fieldset><br>

  </div>

 <div class="row">
   <div class="field col-4">
     <%= form.label :amount_paid %>
     <%= form.number_field :amount_paid,value:0,class:"form-control",placeholder:"Enter The Amount Paid" %>
   </div><br>
   <div class="actions bt">
     <%= form.submit "Generate Bill",class:"btn btn-primary" %>
   </div>
 </div>
<% end %>
<style>
  .n{
      margin-left:200px
  }
  .bt{
      margin-left:600px;
      margin-top: 30px;
  }

</style>