<%= form_with(model: [@shop,bill]) do |form| %>
  <% if bill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bill.errors.count, "error") %> prohibited this bill from being saved:</h2>

      <ul>
        <% bill.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col">
      <div class="field">
        <%= form.label :email_id %>
        <%= form.text_field :email_id %>
      </div>
    </div>
    <div class="col">

      <div class="field">
        <%= form.label :name %>
        <%= form.text_field :name %>
      </div>
    </div>

  </div><br>
  <div class="field">
    <%= form.label :amount_paid %>
    <%= form.number_field :amount_paid %>
  </div><br>
  <h3>Products:</h3><br>
  <fieldset>
    <%= form.fields_for :carts do |c| %>
       <%= render "carts_fields",f: c %>
    <%end %>
    <%= link_to_add_to_carts "Add Products",form, :carts %>
  </fieldset><br>

  <div class="field">

    <%= form.hidden_field :shop_id %>
  </div>


  <div>
    <strong>Denominations Available</strong><br>

    <fieldset><br>
      <%= form.fields_for :amounts do |a| %>
        <%= render "amounts_fields",fo: a %>
      <%end %>

    </fieldset><br>

  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
