<style>
  .container{
      margin-top:50px;
      margin-bottom: 50px;
      padding:50px;
      background-color: white;

  }
  .dd{
      padding:30px;
  }
  .qp{
      background-color: #FFE4E1;
      padding:20px;
      border-radius: 8px;

  }
  .ad{
      margin-left: 150px;

  }
  .sa{
      padding:20px;

  }
</style>
<div class="container border border-dark rounded">
  <p id="notice"><%= notice %></p>
  <div class="row">
    <div class="col">
      <strong>Email:</strong>
      <%= @bill.email_id %>
    </div>

    <div class="col">
      <strong>Name:</strong>
      <%= @bill.name %>
    </div>

  </div>
  <br>

<!--  <p>-->
<!--    <strong>Amount paid:</strong>-->
    <%#= @bill.amount_paid %>
<!--  </p>-->
    <br>
<!--    <strong>Products:</strong>-->

  <div class="tb">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Product Id</th>
        <th scope="col">Product Name</th>
        <th scope="col">Unit Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Purchased Price</th>
        <th scope="col">Tax % for the iterm</th>
        <th scope="col">Tax Payable For the Item</th>
        <th scope="col">Total Price</th>
      </tr>
      </thead>
      <tbody>

      <% @cart.each do|c| %>
        <tr>
          <td><%= c.product_id %></td>
          <% p=@shop.products.find(c.product_id) %>
          <td><%= p.product_name %></td>
          <td><%= p.price %></td>
          <td><%= c.quantity %></td>
          <td><%= c.purchased_price %></td>
          <td><%= p.tax %></td>
          <td><%= c.item_tax %></td>
          <td><%= c.purchased_price + c.item_tax %></td>
        </tr>
      <% end %>

      </tbody>
    </table>


  </div>
  <br>

<!--  <p>-->
<!--    <strong>Shop:</strong>-->
    <%#= @bill.shop_id %>
<!--  </p>-->
  <strong>Balance denominations:</strong><br>
  <div class="dd">


    <%@balance_deno.each do|b| %>

        <div class="row">
          <div class="col">
            <p class="qp">500  Quantity: <%= b.c500 %></p>
            <p class="qp">100  Quantity: <%= b.c100   %></p>
            <p class="qp">50   Quantity: <%= b.c50 %></p>
            <p class="qp">10  Quantity: <%= b.c10 %></p>

          </div>
          <div class="col">


            <p class="qp">5   Quantity: <%=  b.c5 %></p>
            <p class="qp">2  Quantity: <%= b.c2 %></p>
            <p class="qp">1  Quantity: <%= b.c1 %></p>


          </div>

        </div>
    <% end %>





  </div>
  <br>
  <div class="row">
    <div class="col">
      <strong>Amount Paid: </strong><%=@bill.amount_paid %>

    </div>
    <div class="ad col">
      <strong class="sa">Total Price Without Tax : </strong><%= @bill.total_amount %>
      <br>
      <br>
      <strong class="sa">Tax to be paid: </strong><%= @bill.total_tax %>
      <br>
      <br>
      <strong class="sa">Net Price: </strong><%=@bill.net_amount  %>
      <br>
      <br>
      <strong class="sa">Rounded Down value of the net price: </strong><%=@bill.net_amount.round() %>
      <br>
      <br>
      <strong class="sa">Balance Payable to the customer: </strong><%=@bill.balance %>




    </div>


  </div>
<!--  <%#= link_to 'Edit', edit_shop_bill_path(@shop,@bill) %> |-->
  <%= button_to 'Back', shop_bills_path(@shop),method: "get",class: "btn btn-primary" %>


</div>
