<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @bill.email_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @bill.name %>
</p>

<p>
  <strong>Amount paid:</strong>
  <%= @bill.amount_paid %>
</p>
<p>
  <strong>Products:</strong>
  <div>
    <% @cart.each do|c| %>
       <p>ProductId:</p><%= c.product_id %>
       <p>Quantity:</p><%= c.quantity %>
       <p>Bill ID:</p><%= @bill.id %>
    <% end %>
  </div>
</p>
<p>
  <strong>Shop:</strong>
  <%= @bill.shop_id %>
</p>
<div>
  <h1>Denominations Available</h1>
  <p>500 Quantity:<%= @bill.amount.five_hundred %></p>
  <%# @bill.amounts.each do|a| %>
<!--    <p>500 Quantity:<%#= a.five_hundred %></p>-->
<!--    <p>100 Quantity:<%#= a.hundred   %></p>-->
<!--    <p>50 Quantity:<%#= a.fifty %></p>-->
<!--    <p>10 Quantity:<%#= a.ten %></p>-->
<!--    <p>5 Quantity:<%#= a.five %></p>-->
<!--    <p>2 Quantity:<%#= a.two %></p>-->
<!--    <p>1 Quantity:<%#= a.one %></p>-->

  <%# end %>




</div>
  <%= link_to 'Edit', edit_shop_bill_path(@shop,@bill) %> |
<%= link_to 'Back', shop_bills_path(@shop) %>
