<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @bill.email_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @bill.name %>
</p>

<p>
  <strong>Amount paid:</strong>
  <%= @bill.amount_paid %>
</p>
<p>
  <strong>Products:</strong>
  <div>
    <% total_tax=0.0%>
    <%total_amount=0  %>
    <% @cart.each do|c| %>
       <p>ProductId: <%= c.product_id %></p>
       <% p=@shop.products.find(c.product_id) %>
       <p>Product Name:<%= p.product_name %></p>
       <p>Unit Price:<%= p.price %></p>
       <p>Quantity:<%= c.quantity %></p>

       <p>Purchased Price:<%= c.purchased_price %></p>
      <p>Tax % for item: <%= p.tax %></p>

      <p>Tax payable for the item:<%= c.item_tax %></p>

      <p>Total Amount for the item:<%= @bill.net_amount %></p>
       <p>Bill ID:<%= @bill.id %></p>
    <% end %>
  </div>
</p>
<p>
  <strong>Shop:</strong>
  <%= @bill.shop_id %>
</p>

<div>
  <h1>Balance denominations:</h1>
</div>
<div>
  <h3>Total Price Without Tax :<%= @bill.total_amount %></h3>
  <h3>Tax to be paid:<%= @bill.total_tax %></h3>

  <h3>Net Price:<%=@bill.net_amount  %></h3>

  <h3>Rounded Down value of the net price:<%=@rounded_price %></h3>


  <h3>Balance Payable to the customer:<%=@bill.balance %></h3>
  <% b=@bill.balance %>

  <p>Amount Paid:<%=@bill.amount_paid %></p>

      <p>500 Quantity:<%= @c500 %></p>
      <p>100 Quantity:<%= @c100   %></p>
      <p>50 Quantity:<%= @c50 %></p>
      <p>10 Quantity:<%= @c10 %></p>
      <p>5 Quantity:<%= @c5 %></p>
      <p>2 Quantity:<%= @c2 %></p>
      <p>1 Quantity:<%= @c1 %></p>







</div>
  <%= link_to 'Edit', edit_shop_bill_path(@shop,@bill) %> |
<%= link_to 'Back', shop_bills_path(@shop) %>
